<ul class="commits">
    {{#each this}}
    <li class="commit-item">
        <h2 class="commit-author">
            <a class="commit-author-link" href="./?author={{author}}">{{author}}</a>
             - {{timesince date}}
        </h2>
        <h1 class="commit-message">{{message}}</h1>
        {{#if tags}}
            {{#if tags.hash}}
                {{#each tags.hash}}
                    <a class="commit-hash" href="./?hash={{this}}">#{{this}}</a>
                {{/each}}
            {{/if}}
        {{/if}}
    </li>
    {{/each}}
</ul>
